APP_ENV=local

GRPC_PORT=50051
HTTP_PORT=8080
SHUTDOWN_TIMEOUT=10s

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=twallet
POSTGRES_PASSWORD=twallet_pass
POSTGRES_DB=twallet
POSTGRES_SSLMODE=disable

JWT_SECRET=super_secret_change_me
JWT_TTL=15m

KAFKA_BROKERS=localhost:9094
KAFKA_TOPIC=wallet.transactions.completed
KAFKA_CONSUMER_GROUP=notifier
KAFKA_RELAY_INTERVAL=500ms

OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=t-wallet
TRACING_ENABLED=true